{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% if todo.pk%}
        Alterar Registro
      {% else %}
        Adicionar registro
      {% endif %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar bg-dark mb-4" data-bs-theme="dark">
      <!-- Navbar content -->
      <div class="container-fluid">
        <a class="navbar-brand" href="/">TodoList</a>
      </div>
    </nav>

    <main class="container">

      {% if todo.pk%}
        <h1 class="text-center h3">Alterar Registro</h1>
      {% else %}
        <h1 class="text-center h3">Novo Registro</h1>
      {% endif %}

    <!-- 
        A classe CreateView, lá em views.py, 
        já envia um formulário pronto via context chamado 'form'

            
        {{ form }} Para usar o formulário renderizado pelo django 
            
    -->
      

        <form method="post"> 
                {% csrf_token %} <!-- Token para autenticar e liberar registro de forms -->

            {{ form|crispy }}
            <button type="submit" class="btn btn-primary"> Salvar </button>
        </form>

        <!-- 
            Instalar o crispy-bootstrap5 para stylizar o formulário renderizado. 
            Necessário adicionar em APPS instalados. Leia a documentação
        -->
        
      
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>